{# Add scripts of theme #}
<script src="catalog/view/javascript/lamanteam/jquery-1.8.3.min.js"></script>
<script src="catalog/view/javascript/lamanteam/common.min.js"></script>

<footer class="footer">
  <div class="footer__inner">
    <div class="footer__copyright">© Lamanteam, 2015</div>
  </div>
</footer>

</body>
</html>